/* ===== global ===== */

a {
  color: #ffffff;
}

body {
  /* background: linear-gradient(
    rgba(125,65,125, .9),
    rgba(60,60,60, .2)); */
  /* url('https://static.pexels.com/photos/276724/pexels-photo-276724.jpeg'); */
  /* background-color: rgba(127,205,240, .2); */
  background-color: #ffffff;

  /* background-image: url('https://static.pexels.com/photos/276724/pexels-photo-276724.jpeg'); */
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin: 0;
  /* padding-top: 10rem; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
  text-shadow: 2px 2px 4px #ffffff;
}

.button {
  background: #000000;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.container {
  /* margin: 0; */
  padding: 3rem;
  /* padding-top: 3rem;
  padding-bottom: 3rem; */
}

.glyphicon {
  font-size: 4rem;
}

.inline-buttons {
  display: inline-block;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  vertical-align: center;
}

.section {
  border-color: #000000;
  border-style: solid;
}

/* ===== dashboard ===== */

.household {
  background-color: rgba(127, 205, 240, 0.2);

  /* background-color: #FFFFFF; */
  border-color: #999999;
  border-style: solid;
  /* border-left: #e0e0e0; */
  border-top: #e0e0e0;
  border-bottom: #e0e0e0;
  border-right: #e0e0e0;
}

.household-lists {
  /* background-color: rgba(127, 205, 240, 0.2); */

  /* background-color: #FFFFFF; */
  /* border-color: #999999;
  border-style: solid; */
  /* border-left: #e0e0e0; */
  /* border-top: #e0e0e0;
  border-bottom: #e0e0e0; */
  border-right: #e0e0e0;
  width: 200%;
}

.household-members-list {
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.member {
  border-color: #e0e0e0;
  /* border-bottom: #e0e0e0; */
  border-left: #e0e0e0;
  border-right: #e0e0e0;
  border-style: solid;
  border-top: #e0e0e0;
  border-width: 2px;
  position: relative;
  /* transform: translate(-50%, -50%); */
}

.member-button {
  padding-top: 0.5rem;
}

.member-remove-button {
  background: #ff0000;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

/* ===== landing page ===== */

.landing-page {
  text-align: center;
}

.landing-page-actions {
  text-align: center;
  background: linear-gradient(
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.5)
    ),
    url("https://images.pexels.com/photos/708440/pexels-photo-708440.jpeg");
  /* background-image: url("https://images.pexels.com/photos/708440/pexels-photo-708440.jpeg"); */
  /* background-position: ; */
  /* padding-top: 3rem;
    padding-bottom: 3rem; */
}

.landing-page-features {
  /* padding-top: 2rem;
  padding-bottom: 2rem; */
}

.landing-page-footer {
  color: #ffffff;
  background-color: #000000;
  /* padding-top: 2rem;
  padding-bottom: 2rem; */
}

.landing-page-jumbotron {
  text-align: center;
  background: linear-gradient(
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.5)
    ),
    url("https://images.pexels.com/photos/708440/pexels-photo-708440.jpeg");
  /* background-image: url("https://images.pexels.com/photos/708440/pexels-photo-708440.jpeg"); */
  background-size: cover;
  /* padding: 8rem; */
}

/* ===== login + signup ===== */

.login {
  margin-top: 10rem;
  padding: 4rem;
  text-align: center;
}

.login-form {
  background-color: #ffffff;
  border-color: #999999;
  border-radius: 1.5rem;
  border-style: solid;
  /* padding: 10rem; */
  text-align: center;
}

.signup {
  margin-top: 10rem;
  /* padding: 4rem; */
  text-align: center;
}

.signup-form {
  background-color: #ffffff;
  border-color: #999999;
  border-radius: 1.5rem;
  border-style: solid;
  /* padding: 10rem; */
  text-align: center;
}

.form {
  background-color: #ffffff;
  border-color: #999999;
  border-radius: 1rem;
  border-style: solid;
  border-width: 3px;
  /* margin: 15rem; */
  opacity: 1;
  /* padding-top: 4rem;
  padding-bottom: 6rem;
  padding-left: 6rem;
  padding-right: 6rem; */
  text-align: center;
}

.form-label {
  /* padding-bottom: 3rem; */
  text-align: center;
}

/* ===== navbar ===== */

.navbar {
  /* align-content: center; */
  /* background-color: #FFFFFF;
  color: #7FCDF0; */
  /* display: inline; */
  /* min-height: 8rem; */
  /* vertical-align: center; */
}

.navbar-button {
  background: #000000;
  /* border-radius: 5px; */
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  box-shadow: none;
}

.navbar-button:hover {
  background: #000000;
  /* border-radius: 5px; */
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  box-shadow: none;
}

.navbar-contents {
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav-link {
  color: #000000;
}

.navbar-logo {
  height: 4rem;
  align-items: center;
  */: center;
}

.navbar-brand > img {
  display: flex;
  height: 500%;
  padding-top: 2.5rem;
  vertical-align: center;
}

/* ===== profile ===== */

.profile {
  padding: 2rem;
}

.profile-avatar {
  height: 12rem;
}
